.popup {
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5vh;
  text-align: center;
  animation-duration: 0.55s;  
  animation-fill-mode: both;  
  animation-name: fadeInDown; 
}

@keyframes fadeInDown { 
  0% {                
      opacity: 0;
      transform: translate3d(0px, -100%, 0px);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}